<div class="slideshow">
    <canvas id="slideshow" class="progressiveSlideshow-canvas"></canvas>
    <script type="text/javascript" src="<%- config.root%>js/slideshow.js"></script>
    <% config.featured.forEach(function(slide, index) { %>
    <a href="<%- config.root %><%- slide.url %>">
        <div class="slideshow-cover">
            <img class="hide-tny-img" onload="loadToSlideshow(this)" src="<%- slide.mini_url %>" real-src="<%- slide.bg_url %>"><!-- this is a tiny image with a resolution of e.g. ~27x17 and low quality --><!-- or svg in future -->
        </div>
    </a>
     <% }); %>
</div>