<div class="slideshow">
    <canvas id="slideshow" class="progressiveSlideshow-canvas"></canvas>
    <script type="text/javascript" src="<%- config.root%>js/slideshow.js"></script>
    <% config.featured.forEach(function(slide, index) { %>
        <div id="slideshow-cover" class="slideshow-cover">
    <% if (slide.multi_url) { %>
        <% slide.multi_url.forEach(function(url) { %>
            <script type="text/javascript">
                loadMulti("<%- url %>",<%- index %>);
            </script>
        <% }); %>
    <% } else { %>
            <img class="hide-tny-img" onload="loadToSlideshow(this, <%- index %>)" 
            <% if (slide.svg_url) { %>
                src="<%- slide.svg_url %>"
            <% } else { %>
                src="<%- slide.mini_url %>"
            <% } %>
             real-src="<%- slide.bg_url %>" ctr-x="<%- slide.ctr_x %>" ctr-y="<%- slide.ctr_y %>"></img>
    <% } %>
        <a href="<%- config.root %><%- slide.url %>">
            <div class="slide-descriptor">
                <h2 class="post-title"><%- slide.title %></h2>
                <p><%- slide.desc %></p>
            </div>
        </a>
        </div>
     <% }); %>
</div>